.DS_Store
assets/.DS_Store
.fuse_hidden*
codex 3.zip
assets/about us/anastasia.mp4
assets/about us/dasha.mp4
assets/draxler.gif
assets/fastiv.gif
assets/g4webcover.mp4
assets/home_mobile.mp4
assets/home_sb.mp4
assets/mobile_home_latest.mp4
assets/phoneg4cover.mp4
assets/robotics.gif
assets/sweetbaking/desktop_2.mp4
assets/sweetbaking/desktop_cover_2_1.mp4
assets/sweetbaking/line_banner.mp4
assets/sweetbaking/sub_banner.mp4
